body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}


.container-item{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation-item {
  margin: 32px 15px;
  list-style-type: none;}

.navigation-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  background-color: #208e98;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navigation-link:hover {
  background-color: #333;
}
